@import "./colors.scss";

.app {
  height: 100%;
  width: 100%;
}
.add-transaction {
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  z-index: 50;
  border-radius: 0.5rem;
  background-color: $color-primary;
  cursor: pointer;
  &:hover {
    img {
      width: 90%;
      height: 90%;
    }
  }
  img {
    width: 75%;
    height: 75%;
    transition: all ease-in 0.2s;
  }
}
